html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
#container{
    display: flex;
    justify-content: center;
}
#gameDesk{
    float: left;
    /* width: auto; */
    /* height: 100vh;
    width: 100vh; */
}
#dice{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /* float: left;
    width: 100%; */
}
#playerSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /* float: left;
    width: 100%; */
}
